<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Popular Tags</h5>
    <div class="d-flex flex-wrap gap-2">
      <a class="text-decoration-none" href="{% url 'tag' 'perl' %}">perl</a>
      <a class="text-decoration-none text-danger" href="{% url 'tag' 'python' %}">python</a>
      <a class="text-decoration-none text-danger" href="{% url 'tag' 'mysql' %}">MySQL</a>
      <a class="text-decoration-none text-success" href="{% url 'tag' 'django' %}">django</a>
      <a class="text-decoration-none" href="{% url 'tag' 'technopark' %}">TechnoPark</a>
      <a class="text-decoration-none" href="{% url 'tag' 'firefox' %}">Firefox</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Best Members</h5>
    <ul class="list-unstyled mb-0">
      <li><a href="#" class="text-decoration-none">Mr. Freeman</a></li>
      <li><a href="#" class="text-decoration-none">Dr. House</a></li>
      <li><a href="#" class="text-decoration-none">Bender</a></li>
      <li><a href="#" class="text-decoration-none">Queen Victoria</a></li>
      <li><a href="#" class="text-decoration-none">V. Yuntsevich</a></li>
    </ul>
  </div>
</div>
